<div class="container">
  <div class="widget"
    *ngFor="let widget of widgets"
    [ngSwitch]="widget.type">
    <div
      *ngSwitchCase="'Heading'"
      [ngSwitch]="widget.size">
      <h1 *ngSwitchCase="1">{{widget.text}}</h1>
      <h2 *ngSwitchCase="2">{{widget.text}}</h2>
      <h3 *ngSwitchCase="3">{{widget.text}}</h3>
    </div>
    <p *ngSwitchCase="'Paragraph'">{{widget.text}}</p>
    <img *ngSwitchCase="'Image'" src="{{widget.src}}"/>
    <a *ngSwitchCase="'Link'" href="{{widget.href}}">{{widget.text}}</a>
    <div
      *ngSwitchCase="'List'"
      [ngSwitch]="widget.listType">
      <ul *ngSwitchCase="'UNORDERED'">
        <li *ngFor="let item of widget.text.split('\n')">{{item}}</li>
      </ul>
      <ol *ngSwitchCase="'ORDERED'">
        <li *ngFor="let item of widget.text.split('\n')">{{item}}</li>
      </ol>
    </div>
    <div *ngSwitchCase="'Assignment'">
      <h3>{{widget.title}} Points: {{widget.points}}</h3>
      <p>{{widget.text}}</p>
      <mat-form-field>
        <textarea matInput placeholder="Essay answer"></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Submit a link"/>
      </mat-form-field>
      <button mat-raised-button color="primary">Submit</button>
    </div>
    <app-exam *ngSwitchCase="'Exam'" [widget]="widget"></app-exam>
    <p *ngSwitchDefault>Unknown {{widget.type}} widget detected.</p>
  </div>
</div>
