<h2>Login</h2>
<form #loginForm="ngForm" (ngSubmit)="submit(loginForm)">
  <mat-form-field>
    <input
      matInput type="text" placeholder="Username" required
      [(ngModel)]="user.username" name="username"/>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput type="password" placeholder="Password" required
      [(ngModel)]="user.password" name="password"/>
  </mat-form-field>
  <div class="actions">
    <a mat-raised-button routerLink="/register">Register</a>
    <button mat-raised-button color="primary" type="submit"
      [disabled]="!loginForm.form.valid">Login</button>
  </div>
</form>
