<a mat-raised-button color="primary" routerLink="/">Home</a>
<div class="container">
  <mat-nav-list>
    <mat-list-item
      *ngFor="let module of modules"
      (click)="openModule(module)">
      {{module.title}}
    </mat-list-item>
  </mat-nav-list>

  <mat-tab-group>
    <mat-tab
      *ngFor="let lesson of lessons"
      label="{{lesson.title}}">
      <ng-template matTabContent>
        <app-widget-list [lesson]="lesson">
        </app-widget-list>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
