<p *ngIf="courses.length === 0">
  Loading courses... Can take a while for first request since we're using free Heroku instances.
</p>
<div class="container">
  <mat-nav-list class="courses">
    <mat-list-item
      *ngFor="let course of courses"
      (click)="openCourse(course)">
      {{course.title}}
    </mat-list-item>
  </mat-nav-list>
  <div class="sections">
    <form *ngIf="newSection" #newSectionForm="ngForm" (ngSubmit)="submit(newSectionForm)">
      <mat-form-field class="title">
        <input
          matInput type="text" placeholder="Title" required
          [(ngModel)]="newSection.title" name="title"/>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput type="number" placeholder="Max seats" required
          [(ngModel)]="newSection.maxSeats" name="maxSeats"/>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit"
        [disabled]="!newSectionForm.form.valid">Add section</button>
    </form>
    <app-section
      *ngFor="let section of sections"
      [section]="section" (deleted)="refreshSections()">
    </app-section>
  </div>
</div>
