<a mat-raised-button color="primary"
  *ngIf="loggedInUser; else loginButton" routerLink="/profile">Profile</a>
<ng-template #loginButton>
  <a mat-raised-button color="primary" routerLink="/login">Login</a>
</ng-template>
<p *ngIf="courses.length === 0">
  Loading courses... Can take a while for first request since we're using free Heroku instances.
</p>
<h3 *ngIf="enrollments.length > 0">Enrollments</h3>
<mat-list>
  <mat-list-item *ngFor="let enrollment of enrollments">
    {{enrollment.title}}
  </mat-list-item>
</mat-list>
<h3>Courses</h3>
<mat-nav-list>
  <a mat-list-item
    *ngFor="let course of courses"
    routerLink="/course/{{course.id}}">
    {{course.title}}
  </a>
</mat-nav-list>
